KhakiSol-configured.json
{
  "name": "KhakiSol-AI-Command",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "title": "KhakiSol AI Assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-672, -128],
      "id": "51b8b017-2da0-4c9d-88f0-c1a1f238ed2d",
      "name": "When chat message received",
      "webhookId": "3ba7921e-ede4-4365-8fda-08abc96a2c67"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the AI Command Center for KhakiSol, a casual outdoor clothing store.\n\nStore: pygcet-kp.myshopify.com\n\nYou have access to 30 AI Troopers organized into squadrons:\n- Inventory Squadron (5 agents)\n- Customer Service Squadron (5 agents)\n- Marketing Squadron (5 agents)\n- Fulfillment Squadron (5 agents)\n- Analytics Squadron (5 agents)\n- Security Squadron (3 agents)\n- Operations Squadron (2 agents)\n\nYou can:\n1. Check inventory and stock levels\n2. Process orders and fulfillment\n3. Handle customer inquiries\n4. Create marketing campaigns\n5. Analyze sales data\n6. Manage products and collections\n\nBe helpful, professional, and action-oriented."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-464, -128],
      "id": "9dfc6004-1cc5-4e05-af32-a88794ce089b",
      "name": "KhakiSol AI Command"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4o Mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-704, 80],
      "id": "openai-model-main",
      "name": "OpenAI GPT-4o Mini",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-544, 80],
      "id": "1471c96c-b9fa-4185-9f5a-ec833fb36878",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "getAll",
        "limit": 50,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [-384, 80],
      "id": "shopify-products-tool",
      "name": "Get Products",
      "credentials": {
        "shopifyApi": {
          "id": "YOUR_SHOPIFY_CREDENTIAL_ID",
          "name": "Shopify KhakiSol"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 50,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [-224, 80],
      "id": "shopify-orders-tool",
      "name": "Get Orders",
      "credentials": {
        "shopifyApi": {
          "id": "YOUR_SHOPIFY_CREDENTIAL_ID",
          "name": "Shopify KhakiSol"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "getAll",
        "limit": 50,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [-64, 80],
      "id": "shopify-customers-tool",
      "name": "Get Customers",
      "credentials": {
        "shopifyApi": {
          "id": "YOUR_SHOPIFY_CREDENTIAL_ID",
          "name": "Shopify KhakiSol"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Creates a new order in the Shopify store",
        "additionalFields": {},
        "limeItemsUi": {
          "lineItemValues": [{}]
        }
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [96, 80],
      "id": "shopify-create-order-tool",
      "name": "Create Order",
      "credentials": {
        "shopifyApi": {
          "id": "YOUR_SHOPIFY_CREDENTIAL_ID",
          "name": "Shopify KhakiSol"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-store",
              "name": "storeName",
              "value": "pygcet-kp.myshopify.com",
              "type": "string"
            },
            {
              "id": "config-threshold",
              "name": "lowStockThreshold",
              "value": 10,
              "type": "number"
            },
            {
              "id": "config-email",
              "name": "notificationEmail",
              "value": "sdthompson35@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-128, -128],
      "id": "workflow-config",
      "name": "Workflow Configuration"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-672, 200],
      "id": "daily-trigger",
      "name": "Daily Report Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a daily store report for KhakiSol. Include:\n1. Inventory status and alerts\n2. Order summary\n3. Customer activity\n4. Marketing recommendations\n5. Action items for today",
        "options": {
          "systemMessage": "You are generating a daily executive report for KhakiSol store management. Be concise and actionable."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-464, 200],
      "id": "daily-report-agent",
      "name": "Daily Report Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.notificationEmail }}",
        "subject": "KhakiSol Daily Report - {{ $now.format('YYYY-MM-DD') }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-224, 200],
      "id": "send-report-email",
      "name": "Send Daily Report",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{"node": "KhakiSol AI Command", "type": "main", "index": 0}]]
    },
    "OpenAI GPT-4o Mini": {
      "ai_languageModel": [[{"node": "KhakiSol AI Command", "type": "ai_languageModel", "index": 0}]]
    },
    "Conversation Memory": {
      "ai_memory": [[{"node": "KhakiSol AI Command", "type": "ai_memory", "index": 0}]]
    },
    "Get Products": {
      "ai_tool": [[{"node": "KhakiSol AI Command", "type": "ai_tool", "index": 0}]]
    },
    "Get Orders": {
      "ai_tool": [[{"node": "KhakiSol AI Command", "type": "ai_tool", "index": 0}]]
    },
    "Get Customers": {
      "ai_tool": [[{"node": "KhakiSol AI Command", "type": "ai_tool", "index": 0}]]
    },
    "Create Order": {
      "ai_tool": [[{"node": "KhakiSol AI Command", "type": "ai_tool", "index": 0}]]
    },
    "KhakiSol AI Command": {
      "main": [[{"node": "Workflow Configuration", "type": "main", "index": 0}]]
    },
    "Daily Report Trigger": {
      "main": [[{"node": "Daily Report Agent", "type": "main", "index": 0}]]
    },
    "Daily Report Agent": {
      "main": [[{"node": "Send Daily Report", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "khakisol-ai-command"
  },
  "tags": ["ai", "shopify", "automation", "khakisol"]
}
